<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12063586025-aeueimj1lee0katgd87nikboc1id9h9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12063586025-aeueimj1lee0katgd87nikboc1id9h9g</string>
	<key>API_KEY</key>
	<string>AIzaSyAEJVvMXafMciSPBqD-j1E4mgtGQe5H5Ms</string>
	<key>GCM_SENDER_ID</key>
	<string>12063586025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatapprnfirebase</string>
	<key>PROJECT_ID</key>
	<string>another-chat-app-3fc78</string>
	<key>STORAGE_BUCKET</key>
	<string>another-chat-app-3fc78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12063586025:ios:78bdfcb2743e4cb8eda278</string>
</dict>
</plist>